body {
    background: black;
    color: whitesmoke;
    padding: 25px;
    font-family: monospace;
    text-align: center;
    line-height: 30px;
  }

img{
    display: block;
    margin: auto;
}

ul{
  list-style-type: none;
  margin: 50px;
}
